html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 0px ;
    margin: 0 auto;
    background-color: #D0D2D3;
}

.main {
    background-color:#ffffff;
    margin-right: 25%;
    margin-bottom: 103px;
}


.tout{
    margin: 6rem 0;
}

 .tout .logo {
  width: 68px;
  height: auto;
  flex-wrap: 68px;
  display: flex;

}

.icons {
    flex-direction: column;
    display: flex;
    margin-bottom: 10px;
    height: auto; 
    margin-bottom: 10px; 
    width: 28px;
    height: 751.8px;
    align-items: flex-start;
    gap: 25px;
    transform: translate(50%);
    margin-top: 50px;

 }
 #dashboard {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.widget {
  background: #004B72;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin: 1em;
  flex: 1;
}

#chart {
  height: 300px;
  background: #d0d2d3;
  
}

ul {
  list-style-type: none;
  padding: 0;
  
}

li {
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
  
}




