html{
    font-size: 62.5%;

}


body{
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 0px ;
    margin: 0 auto;
}

.main {
    background-color: #82858c;
}





  .icons {
    flex-direction: column;
    display: flex;
    margin-bottom: 10px;
    height: auto; 
    margin-bottom: 10px; 
    width: 28px;
    height: 751.8px;
    align-items: flex-start;
    gap: 25px;
    transform: translate(50%);

  }
